{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Agile working</h1>

      <h2 class="govuk-heading-x2">You have experience of working in agile teams</h1>

        <p>If your team is agile, you may work in sprint, have a backlog.</p>
        
      <h2 class="govuk-heading-x2">You can use agile tools</h1>

        <p>You might use things like:</p>
        
        <ul>
        <li>Trello</li>
        <li>Jira</li>
      </ul>

      <h2 class="govuk-heading-x2">You understand why agile methods are used</h1>

        <p>To find out more about agile working, read this <a href="/https://www.gov.uk/service-manual/agile-delivery/agile-government-services-introduction">introduction to agile</a>.</p>

    </div>
  </div>

{% endblock %}
