
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Content designer DDaT framework
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This framework is to help you understand the skills and abilities required of content designers at each level.
      </p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/junior-content-designer">Junior content designer</a>
        </li>
        <li>
          <a href="/content-designer">Content designer</a>
        </li>
        <li>
          <a href="/senior-content-designer">Sunior content designer</a>
        </li>
        <li>
          <a href="/lead-content-designer">Lead content designer</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
