{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Senior ontent designer</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p><a href="/senior-content-designer/agile-working">Agile working</a></p>
        <p><a href="/senior-content-designer/prototyping">Prototyping</a></p>
        <p><a href="/senior-content-designer/user-centred-design">User-centred design</a></p>
        <p><a href="/senior-content-designer/stakeholder-management">Stakeholder management</a></p>
        <p><a href="/senior-content-designer/strategic-thinking">Strategic thinking</a></p>

      </form>

    </div>
  </div>

{% endblock %}
